{% extends 'base.html' %}

{% load static %}

{% block content %}
  <div class="max-w-sm mx-auto mt-10 p-6 border rounded-lg shadow-md bg-white">
    <h2 class="text-2xl font-bold mb-6 text-center">Login</h2>
    
    <form method="post">
      {% csrf_token %}
      <div class="mb-6">
        <div class="mb-2">
        <label for="username" class="block text-sm font-medium text-gray-700">Username/Email ID</label>
        </div>
        {{ form.username }}
      </div>

      <div class="mb-6">
        <div class="mb-2">
        <label for="password" class="block text-sm font-medium text-gray-700">Password</label>
        </div>
        {{ form.password }}
      </div>

      <button type="submit" class="w-full bg-blue-500 text-white py-2 px-4 rounded-md hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500">Login</button>
    </form>
    
    {% if form.errors %}
      <div class="mt-4 text-red-500">
        <div class="flex items-center p-4 mb-4 text-sm text-yellow-800 rounded-lg bg-yellow-50 dark:bg-gray-800 dark:text-yellow-300" role="alert">
          <svg class="shrink-0 inline w-4 h-4 me-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
            <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
          </svg>
          <span class="sr-only">Info</span>
          <div>
            <span class="font-medium">Warning alert!</span> Enter Correct Email ID/passsword and try logging in again.
          </div>
        </div>
      </div>
    {% endif %}
    
    <div class="mt-4 text-center">
      <a href="{% url 'register' %}" class="text-blue-500 hover:text-blue-700">Don't have an account? Register here</a>
    </div>
  </div>
{% endblock %}